.button {
  padding: 8px 16px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1rem;
  border: 1px solid #333333;
  color: #000;
  border-radius: 5px;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
  text-decoration: none;
}

.button:hover {
  text-decoration: none;
  color: #333333;
}

.button-primary {
  border-color: #00D053;
  background-color: #00D053;
  color: #ffffff;
  font-family: 'Brandon Grotesque Regular';
  font-size: 16px;
  line-height: 23px;
  text-align: center;
  text-transform: uppercase;
  width: 280px;
}

.button-primary:hover {
  border: 2px solid transparent;
  border-color: #00D053;
  background-color: #ffffff;
  color: #00D053;
}

.button-secondary {
  border: 2px solid #00D053;
  background-color: #ffffff;
  color: #00D053;
  width: 100%;
}

.button-secondary:hover {
  border-color: #ffffff;
  background-color: #00D053;
  color: #ffffff;
}

.button-large {
  padding: 16px 32px;
}

.button-small {
  padding: 4px 8px;
}

.button-block {
  width: 100%;
}

.footer-button {
  width: 206px;
  height: 52px;
  margin-left: 10px;
}