@font-face {
    font-family: "Tw Cen MT";
    src: url("/fonts/TCM_____.TTF") format("ttf"),
      url("/fonts/OpenSans-Regular-webfont.woff") format("woff");
  }
  
  @font-face {
    font-family: 'Brandon Grotesque Regular Italic'sans-serif;
    font-style: normal;
    font-weight: normal;
    src: local('Brandon Grotesque Regular Italic'), url('brandon-grotesque-regular-italic-58a8a456c4724.woff') format('woff');
  }
  
  
  @font-face {
    font-family: 'Brandon Grotesque Thin Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Brandon Grotesque Thin Italic'), url('brandon-grotesque-thin-italic-58a8a3a8861fe.woff') format('woff');
  }
  
  
  @font-face {
    font-family: 'Brandon Grotesque Light';
    font-style: normal;
    font-weight: normal;
    src: local('Brandon Grotesque Light'), url('brandon-grotesque-light-58a8a4b38001d.woff') format('woff');
  }
  
  
  @font-face {
    font-family: 'Brandon Grotesque Light Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Brandon Grotesque Light Italic'), url('brandon-grotesque-light-italic-58a8a4ccb88be.woff') format('woff');
  }
  
  
  @font-face {
    font-family: 'Brandon Grotesque Medium Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Brandon Grotesque Medium Italic'), url('brandon-grotesque-medium-italic-58a8a3c40866a.woff') format('woff');
  }
  
  
  @font-face {
    font-family: 'Brandon Grotesque Bold Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Brandon Grotesque Bold Italic'), url('brandon-grotesque-bold-italic-58a8a48221563.woff') format('woff');
  }
  
  
  @font-face {
    font-family: 'Brandon Grotesque Black';
    font-style: normal;
    font-weight: normal;
    src: local('Brandon Grotesque Black'), url('brandon-grotesque-black-58a8a3e824392.woff') format('woff');
  }
  
  
  
  
  @font-face {
    font-family: 'icomoon';
    src: url('../../fonts/icomoon.eot?hnbker');
    src: url('../../fonts/icomoon.eot?hnbker#iefix') format('embedded-opentype'),
      url('../../fonts/icomoon.ttf?hnbker') format('truetype'),
      url('../../fonts/icomoon.woff?hnbker') format('woff'),
      url('../../fonts/icomoon.svg?hnbker#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  
  [class^="icon-"],
  [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-instagram:before {
    content: "\e905";
  }
  
  .icon-calendar:before {
    content: "\e900";
  }
  
  .icon-telephone:before {
    content: "\e901";
  }
  
  .icon-spot:before {
    content: "\e902";
  }
  
  .icon-mail:before {
    content: "\e903";
  }
  
  .icon-twitter1:before {
    content: "\e904";
  }
  
  .icon-facebook:before {
    content: "\ea90";
  }
  
  .icon-search:before {
    content: "\e986";
  }
  
  .icon-facebook:before {
    content: "\ea90";
  }
  