.section {
  position: relative;
}

.section-title {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 50px;
  line-height: 71px;
  text-align: center;
  color: #333333;
  font-weight: 600;


}

.section-subtitle {
  font-family: brandon-grotesque, sans-serif;
  font-size: 16px;
  line-height: 23px;
  text-align: center;
  color: #444444;
  max-width: 800px;
  margin: 0 auto;
}

.section-hero-title {
  max-width: 570px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 65px;
  line-height: 75px;
  color: #fff;

}

.section-hero-subtitle {
  max-width: 500px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 18px;
  line-height: 26px;
  margin-bottom: 50px;

}

.section-body {
  padding-top: 120px;
  padding-bottom: 100px;
}


.section-background {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: -2;
}

.section-background img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.section-overlay {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(255, 000, 000, 0, 4);
  z-index: -1;
}

.section-foreground {
  color: #fff;
  display: flex;
  flex-direction: column;
}

.section-techniques {
  padding-top: 150px;
  padding-bottom: 120px;

}

.container-techniques {
  max-width: 922px;
  box-sizing: content-box;
  margin: 0 auto;
  padding: 0 15px;
}

.video-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 50px;
}

.video {
  width: 100%;
  max-height: 430px;
}

.slider {
  margin-top: 35px;
}

.sliders-title {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 29px;
  text-align: center;
  color: #333333;
}

.slider-li {
  margin-right: 20px;
}

.slider-img {
  border: 1px transparent;
  border-radius: 10px;
}

.section-story {
  background-color: #F8F8F8;
  padding: 120px 70px;
}

.story-description {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  line-height: 23px;
  text-align: center;
  max-width: 471px;
  margin: 0 auto;
  padding: 58px 38px;
  background-color: #fff;
  margin-top: 45px;
}

.section-gallery {
  padding-top: 140px;
}

.section-plans {
  padding: 120px 160px;
}

.plans-heading {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 28px;
  line-height: 40px;
  text-align: center;
  color: #333333;
}

.plans--heading {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 50px;
  line-height: 71px;
  color: #333333;
  text-align: center;

}


.plans-month {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 20px;
  line-height: 29px;
  color: #333333;

}

.section-reviews {
  padding-top: 140px;
  padding-bottom: 120px;
  background-color: #F8F8F8;
}

.section-contacts {
  padding-top: 140px;
  padding-bottom: 120px;
  padding-left: 160px;
  padding-right: 160px;
}

.section-footer {
  padding-top: 70px;
  padding-bottom: 70px;
}

.footer-title {
  font-family: Brandon Grotesque -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 30px;
  line-height: 43px;
  text-align: center;
  color: #fff;
  font-weight: 400;
}

.footer-form {
  margin: 0 auto;
}

.footer-links {
  margin: 0 auto;
  margin-top: 50px;
}

.footer-icon {
  font-size: 20px;
  text-decoration: none;
  color: #fff;
  margin-right: 50px;
}

.footer-icon:last-child {
  margin-right: 0;
}

.section-footer .section-overlay {
  background-color: rgba(52, 60, 74, 0.6);
}